.mat-elevation-z8{
    width: 100%;
    background-color: #eceef8;
}
mat-form-field{
    width: 98%;
}
.in{
    margin-left: 0.3rem;
}
.menu{
    margin-left: 1rem;
}
th{
    font-weight: bold;
    font-size: medium;
}
@media screen and (max-width: 789px){
    th{
        font-weight: bold;
        font-size: small;
    }
    td{
        font-size: small;
    }
}