h1{
    margin-left: 0.3rem;
}
input{
    margin-left: 0.3rem;
}
mat-label{
    margin-left: 0.3rem;
}
mat-form-field{
    width: 200%;
}
mat-card{
    margin-bottom: 13rem;
    max-width: 50%;
}
.del{
    margin-left: 0.2rem;
}
.image{
    width: 5rem;
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 789px){
    mat-form-field{
        width: 100%;
    }
}